In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("KGU_2nd_ORIGIN_KGUWETHERINFO_20201031000000.csv")

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_10212\2255084904.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("KGU_2nd_ORIGIN_KGUWETHERINFO_20201031000000.csv")

In [3]:
df

,1,42150,강원도,강릉시,20190101,0000,없음,25,0,-0.3,4.5,약간강,east,228,SW
0,2,42820,강원도,고성군,20190101,0,없음,23,0,0.6,1.9,약,east,271,W
1,3,42170,강원도,동해시,20190101,0,없음,25,0,2.1,1.8,약,east,231,SW
2,4,42230,강원도,삼척시,20190101,0,없음,23,0,1.3,2,약,east,222,SW
3,5,42210,강원도,속초시,20190101,0,없음,20,0,1.2,0.1,약,east,7,N
4,6,42800,강원도,양구군,20190101,0,없음,64,0,-10.1,0.6,약,east,114,ESE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019994,4019996,43111,충청북도,청주시 상당구,20201031,2300,비,99,0.5,9.9,0,약,none,281,W
4019995,4019997,43112,충청북도,청주시 서원구,20201031,2300,비,99,0.5,9.9,0,약,none,281,W
4019996,4019998,43114,충청북도,청주시 청원구,20201031,2300,비,99,0.5,9.9,0,약,none,281,W
4019997,4019999,43113,충청북도,청주시 흥덕구,20201031,2300,비,81,0.5,12.1,0,약,none,237,WSW
4019998,4020000,43130,충청북도,충주시,20201031,2300,없음,82,0,11.4,1.9,약,east,279,W

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4019999 entries, 0 to 4019998
Data columns (total 15 columns):
 #   Column    Dtype
---  ------    -----
 0   1         int64
 1   42150     int64
 2   강원도       object
 3   강릉시       object
 4   20190101  int64
 5   0000      int64
 6   없음        object
 7   25        int64
 8   0         object
 9   -0.3      object
 10  4.5       object
 11  약간강       object
 12  east      object
 13  228       int64
 14  SW        object
dtypes: int64(6), object(9)
memory usage: 460.1+ MB

In [6]:
# 날짜 타입을 datetime으로 변환
df['20190101'] = pd.to_datetime(df['20190101'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4019999 entries, 0 to 4019998
Data columns (total 15 columns):
 #   Column    Dtype
---  ------    -----
 0   1         int64
 1   42150     int64
 2   강원도       object
 3   강릉시       object
 4   20190101  datetime64[ns]
 5   0000      int64
 6   없음        object
 7   25        int64
 8   0         object
 9   -0.3      object
 10  4.5       object
 11  약간강       object
 12  east      object
 13  228       int64
 14  SW        object
dtypes: datetime64[ns](1), int64(5), object(9)
memory usage: 460.1+ MB

In [8]:
# 필요없는 데이터 삭제
df.drop(['1'],axis=1,inplace=True)
df.drop(['SW'],axis=1,inplace=True)
df.drop(['228'],axis=1,inplace=True)
df.drop(['east'],axis=1,inplace=True)
df.drop(['42150'],axis=1,inplace=True)
df.drop(['0000'],axis=1,inplace=True)
df.drop(['없음'],axis=1,inplace=True)
df.drop(['25'],axis=1,inplace=True)
df.drop(['약간강'],axis=1,inplace=True)

In [11]:
df

          강원도      강릉시                      20190101    0   -0.3  4.5
0         강원도      고성군 1970-01-01 00:00:00.020190101    0    0.6  1.9
1         강원도      동해시 1970-01-01 00:00:00.020190101    0    2.1  1.8
2         강원도      삼척시 1970-01-01 00:00:00.020190101    0    1.3    2
3         강원도      속초시 1970-01-01 00:00:00.020190101    0    1.2  0.1
4         강원도      양구군 1970-01-01 00:00:00.020190101    0  -10.1  0.6
...       ...      ...                           ...  ...    ...  ...
4019994  충청북도  청주시 상당구 1970-01-01 00:00:00.020201031  0.5    9.9    0
4019995  충청북도  청주시 서원구 1970-01-01 00:00:00.020201031  0.5    9.9    0
4019996  충청북도  청주시 청원구 1970-01-01 00:00:00.020201031  0.5    9.9    0
4019997  충청북도  청주시 흥덕구 1970-01-01 00:00:00.020201031  0.5   12.1    0
4019998  충청북도      충주시 1970-01-01 00:00:00.020201031    0   11.4  1.9

[4019999 rows x 6 columns]

In [12]:
# 컬럼명 변경
df.rename(columns={'20190101':'date'}, inplace=True)
df.rename(columns={'강원도':'city'}, inplace=True)
df.rename(columns={'강릉시':'gu'},inplace=True)
df.rename(columns={'0':'pph'},inplace=True)
df.rename(columns={'-0.3':'temp'},inplace=True)
df.rename(columns={'4.5':'ws'},inplace=True)

In [13]:
df

         city       gu                          date  pph   temp   ws
0         강원도      고성군 1970-01-01 00:00:00.020190101    0    0.6  1.9
1         강원도      동해시 1970-01-01 00:00:00.020190101    0    2.1  1.8
2         강원도      삼척시 1970-01-01 00:00:00.020190101    0    1.3    2
3         강원도      속초시 1970-01-01 00:00:00.020190101    0    1.2  0.1
4         강원도      양구군 1970-01-01 00:00:00.020190101    0  -10.1  0.6
...       ...      ...                           ...  ...    ...  ...
4019994  충청북도  청주시 상당구 1970-01-01 00:00:00.020201031  0.5    9.9    0
4019995  충청북도  청주시 서원구 1970-01-01 00:00:00.020201031  0.5    9.9    0
4019996  충청북도  청주시 청원구 1970-01-01 00:00:00.020201031  0.5    9.9    0
4019997  충청북도  청주시 흥덕구 1970-01-01 00:00:00.020201031  0.5   12.1    0
4019998  충청북도      충주시 1970-01-01 00:00:00.020201031    0   11.4  1.9

[4019999 rows x 6 columns]

In [14]:
# 시도에서 서울특별시에 해당하는 데이터만 추출
df_seoul = df.loc[df['city'].isin(['서울특별시'])]

In [15]:
df_seoul

          city   gu                          date pph  temp   ws
139      서울특별시  강남구 1970-01-01 00:00:00.020190101   0  -2.6  0.9
140      서울특별시  강동구 1970-01-01 00:00:00.020190101   0  -4.3  0.9
141      서울특별시  강북구 1970-01-01 00:00:00.020190101   0  -5.5  1.2
142      서울특별시  강서구 1970-01-01 00:00:00.020190101   0  -3.4  1.2
143      서울특별시  관악구 1970-01-01 00:00:00.020190101   0  -5.6    1
...        ...  ...                           ...  ..   ...  ...
4019909  서울특별시  용산구 1970-01-01 00:00:00.020201031   0  13.5  2.8
4019910  서울특별시  은평구 1970-01-01 00:00:00.020201031   0  12.5  2.1
4019911  서울특별시  종로구 1970-01-01 00:00:00.020201031   0  13.5    4
4019912  서울특별시   중구 1970-01-01 00:00:00.020201031   0  13.5    4
4019913  서울특별시  중랑구 1970-01-01 00:00:00.020201031   0  12.9  0.9

[402000 rows x 6 columns]

In [16]:
# 인덱스 초기화
df_seoul.reset_index(drop=True, inplace=True)

In [17]:
df_seoul

         city   gu                          date pph  temp   ws
0       서울특별시  강남구 1970-01-01 00:00:00.020190101   0  -2.6  0.9
1       서울특별시  강동구 1970-01-01 00:00:00.020190101   0  -4.3  0.9
2       서울특별시  강북구 1970-01-01 00:00:00.020190101   0  -5.5  1.2
3       서울특별시  강서구 1970-01-01 00:00:00.020190101   0  -3.4  1.2
4       서울특별시  관악구 1970-01-01 00:00:00.020190101   0  -5.6    1
...       ...  ...                           ...  ..   ...  ...
401995  서울특별시  용산구 1970-01-01 00:00:00.020201031   0  13.5  2.8
401996  서울특별시  은평구 1970-01-01 00:00:00.020201031   0  12.5  2.1
401997  서울특별시  종로구 1970-01-01 00:00:00.020201031   0  13.5    4
401998  서울특별시   중구 1970-01-01 00:00:00.020201031   0  13.5    4
401999  서울특별시  중랑구 1970-01-01 00:00:00.020201031   0  12.9  0.9

[402000 rows x 6 columns]

In [18]:
# 필요없는 데이터 열 삭제
df_seoul.drop(['city'],axis=1,inplace=True)

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_10212\1226007288.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seoul.drop(['city'],axis=1,inplace=True)

In [19]:
df_seoul

         gu                          date pph  temp   ws
0       강남구 1970-01-01 00:00:00.020190101   0  -2.6  0.9
1       강동구 1970-01-01 00:00:00.020190101   0  -4.3  0.9
2       강북구 1970-01-01 00:00:00.020190101   0  -5.5  1.2
3       강서구 1970-01-01 00:00:00.020190101   0  -3.4  1.2
4       관악구 1970-01-01 00:00:00.020190101   0  -5.6    1
...     ...                           ...  ..   ...  ...
401995  용산구 1970-01-01 00:00:00.020201031   0  13.5  2.8
401996  은평구 1970-01-01 00:00:00.020201031   0  12.5  2.1
401997  종로구 1970-01-01 00:00:00.020201031   0  13.5    4
401998   중구 1970-01-01 00:00:00.020201031   0  13.5    4
401999  중랑구 1970-01-01 00:00:00.020201031   0  12.9  0.9

[402000 rows x 5 columns]

In [20]:
# 데이터 타입 확인
df_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402000 entries, 0 to 401999
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   gu      402000 non-null  object
 1   date    402000 non-null  datetime64[ns]
 2   pph     402000 non-null  object
 3   temp    402000 non-null  object
 4   ws      402000 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 15.3+ MB

In [21]:
df_seoul.isnull().sum()

gu      0
date    0
pph     0
temp    0
ws      0
dtype: int64

In [22]:
# csv로 저장
df_seoul.to_csv("201901~201912 Order area weather information.csv")