In [1]:
# 필요한 모듈 불러오기
import pandas as pd
import numpy as np

In [2]:
# 데이터 파일 불러오기
df = pd.read_csv("./KGU_3rd_ORIGIN_KGUAREADOITEM_20190701000000 (1).csv")

In [3]:
df

         2019-07-31  00  수요일    경기도  고양시 일산서구      피자
0        2019-07-31   0  수요일    경기도  고양시 일산동구  카페/디저트
1        2019-07-31   0  수요일   전라남도       순천시      치킨
2        2019-07-31   0  수요일    경기도      의정부시   족발/보쌈
3        2019-07-31   0  수요일  서울특별시      영등포구      치킨
4        2019-07-31   0  수요일    경기도      의정부시      한식
...             ...  ..  ...    ...       ...     ...
3890863  2019-12-31  23  화요일    경기도       부천시      치킨
3890864  2019-12-31  23  화요일    경기도      남양주시      중식
3890865  2019-12-31  23  화요일    경기도      의정부시      치킨
3890866  2019-12-31  23  화요일    경기도   안양시 동안구       회
3890867  2019-12-31  23  화요일   경상남도       진주시       회

[3890868 rows x 6 columns]

In [4]:
# 데이터 타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3890868 entries, 0 to 3890867
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   2019-07-31  object
 1   00          int64
 2   수요일         object
 3   경기도         object
 4   고양시 일산서구    object
 5   피자          object
dtypes: int64(1), object(5)
memory usage: 178.1+ MB

In [5]:
# 날짜 타입을 datetime으로 변환
df['2019-07-31'] = pd.to_datetime(df['2019-07-31'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3890868 entries, 0 to 3890867
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   2019-07-31  datetime64[ns]
 1   00          int64
 2   수요일         object
 3   경기도         object
 4   고양시 일산서구    object
 5   피자          object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 178.1+ MB

In [7]:
# 결측치 확인
df.isnull().sum()

2019-07-31    0
00            0
수요일           0
경기도           0
고양시 일산서구      0
피자            0
dtype: int64

In [8]:
# 컬럼명 변경
df.rename(columns={'2019-07-31':'date'}, inplace=True)
df.rename(columns={'00':'time_int'}, inplace=True)
df.rename(columns={'경기도':'city'},inplace=True)
df.rename(columns={'수요일':'days'},inplace=True)
df.rename(columns={'고양시 일산서구':'gu'},inplace=True)
df.rename(columns={'피자':'food'},inplace=True)

In [9]:
df

              date  time_int days   city        gu    food
0       2019-07-31         0  수요일    경기도  고양시 일산동구  카페/디저트
1       2019-07-31         0  수요일   전라남도       순천시      치킨
2       2019-07-31         0  수요일    경기도      의정부시   족발/보쌈
3       2019-07-31         0  수요일  서울특별시      영등포구      치킨
4       2019-07-31         0  수요일    경기도      의정부시      한식
...            ...       ...  ...    ...       ...     ...
3890863 2019-12-31        23  화요일    경기도       부천시      치킨
3890864 2019-12-31        23  화요일    경기도      남양주시      중식
3890865 2019-12-31        23  화요일    경기도      의정부시      치킨
3890866 2019-12-31        23  화요일    경기도   안양시 동안구       회
3890867 2019-12-31        23  화요일   경상남도       진주시       회

[3890868 rows x 6 columns]

In [10]:
# 시도에서 서울특별시에 해당하는 데이터만 추출
df_seoul = df.loc[df['city'].isin(['서울특별시'])]

In [11]:
# 인덱스 초기화
df_seoul.reset_index(drop=True, inplace=True)

In [14]:
df_seoul

             date  time_int days   city    gu   food
0      2019-07-31         0  수요일  서울특별시  영등포구     치킨
1      2019-07-31         0  수요일  서울특별시   은평구  족발/보쌈
2      2019-07-31         0  수요일  서울특별시   구로구  패스트푸드
3      2019-07-31         0  수요일  서울특별시   금천구     한식
4      2019-07-31         0  수요일  서울특별시  영등포구     피자
...           ...       ...  ...    ...   ...    ...
760544 2019-12-31        23  화요일  서울특별시  영등포구     치킨
760545 2019-12-31        23  화요일  서울특별시   은평구  족발/보쌈
760546 2019-12-31        23  화요일  서울특별시   도봉구     피자
760547 2019-12-31        23  화요일  서울특별시   은평구     치킨
760548 2019-12-31        23  화요일  서울특별시   도봉구     피자

[760549 rows x 6 columns]

In [15]:
# 필요없는 데이터 열 삭제
df_seoul.drop(['city'],axis=1,inplace=True)

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_7324\1226007288.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seoul.drop(['city'],axis=1,inplace=True)

In [17]:
df_seoul

             date  time_int days    gu   food
0      2019-07-31         0  수요일  영등포구     치킨
1      2019-07-31         0  수요일   은평구  족발/보쌈
2      2019-07-31         0  수요일   구로구  패스트푸드
3      2019-07-31         0  수요일   금천구     한식
4      2019-07-31         0  수요일  영등포구     피자
...           ...       ...  ...   ...    ...
760544 2019-12-31        23  화요일  영등포구     치킨
760545 2019-12-31        23  화요일   은평구  족발/보쌈
760546 2019-12-31        23  화요일   도봉구     피자
760547 2019-12-31        23  화요일   은평구     치킨
760548 2019-12-31        23  화요일   도봉구     피자

[760549 rows x 5 columns]

In [16]:
# 데이터 타입 확인
df_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760549 entries, 0 to 760548
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      760549 non-null  datetime64[ns]
 1   time_int  760549 non-null  int64
 2   days      760549 non-null  object
 3   gu        760549 non-null  object
 4   food      760549 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 29.0+ MB

In [18]:
# csv로 저장
df_seoul.to_csv("201907~201909지역별요일별배달품목.csv")