In [20]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("order_food201907202112.csv")

In [5]:
df

         Unnamed: 0        date  time_int days    gu    food
0                 0  2019-07-31         0  수요일  영등포구      치킨
1                 1  2019-07-31         0  수요일   은평구   족발/보쌈
2                 2  2019-07-31         0  수요일   구로구   패스트푸드
3                 3  2019-07-31         0  수요일   금천구      한식
4                 4  2019-07-31         0  수요일  영등포구      피자
...             ...         ...       ...  ...   ...     ...
2715011     2760686  2021-12-31        23  금요일   구로구      야식
2715012     2760687  2021-12-31        23  금요일   구로구      야식
2715013     2760688  2021-12-31        23  금요일   강서구      한식
2715014     2760689  2021-12-31        23  금요일   강서구      야식
2715015     2760690  2021-12-31        23  금요일   금천구  돈까스/일식

[2715016 rows x 6 columns]

In [6]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
df

               date  time_int days    gu    food
0        2019-07-31         0  수요일  영등포구      치킨
1        2019-07-31         0  수요일   은평구   족발/보쌈
2        2019-07-31         0  수요일   구로구   패스트푸드
3        2019-07-31         0  수요일   금천구      한식
4        2019-07-31         0  수요일  영등포구      피자
...             ...       ...  ...   ...     ...
2715011  2021-12-31        23  금요일   구로구      야식
2715012  2021-12-31        23  금요일   구로구      야식
2715013  2021-12-31        23  금요일   강서구      한식
2715014  2021-12-31        23  금요일   강서구      야식
2715015  2021-12-31        23  금요일   금천구  돈까스/일식

[2715016 rows x 5 columns]

In [17]:
df[df.duplicated(['date','time_int','days','gu','food'])==True]

               date  time_int days    gu    food
10       2019-07-31         0  수요일   구로구      분식
11       2019-07-31         0  수요일  영등포구      치킨
12       2019-07-31         0  수요일   구로구      치킨
13       2019-07-31         0  수요일   구로구      치킨
14       2019-07-31         0  수요일   은평구   족발/보쌈
...             ...       ...  ...   ...     ...
2715010  2021-12-31        23  금요일   구로구  돈까스/일식
2715011  2021-12-31        23  금요일   구로구      야식
2715012  2021-12-31        23  금요일   구로구      야식
2715014  2021-12-31        23  금요일   강서구      야식
2715015  2021-12-31        23  금요일   금천구  돈까스/일식

[2262242 rows x 5 columns]

In [18]:
df[df.duplicated(['gu','food'])==True]

               date  time_int days    gu    food
10       2019-07-31         0  수요일   구로구      분식
11       2019-07-31         0  수요일  영등포구      치킨
12       2019-07-31         0  수요일   구로구      치킨
13       2019-07-31         0  수요일   구로구      치킨
14       2019-07-31         0  수요일   은평구   족발/보쌈
...             ...       ...  ...   ...     ...
2715011  2021-12-31        23  금요일   구로구      야식
2715012  2021-12-31        23  금요일   구로구      야식
2715013  2021-12-31        23  금요일   강서구      한식
2715014  2021-12-31        23  금요일   강서구      야식
2715015  2021-12-31        23  금요일   금천구  돈까스/일식

[2714823 rows x 5 columns]

In [19]:
df[df.duplicated()==True]

               date  time_int days    gu    food
10       2019-07-31         0  수요일   구로구      분식
11       2019-07-31         0  수요일  영등포구      치킨
12       2019-07-31         0  수요일   구로구      치킨
13       2019-07-31         0  수요일   구로구      치킨
14       2019-07-31         0  수요일   은평구   족발/보쌈
...             ...       ...  ...   ...     ...
2715010  2021-12-31        23  금요일   구로구  돈까스/일식
2715011  2021-12-31        23  금요일   구로구      야식
2715012  2021-12-31        23  금요일   구로구      야식
2715014  2021-12-31        23  금요일   강서구      야식
2715015  2021-12-31        23  금요일   금천구  돈까스/일식

[2262242 rows x 5 columns]

In [23]:
df['order_cnt'] = 0

In [34]:
df[df.duplicated(subset=['food','time_int','days','gu','date'])==True]

               date  time_int days    gu    food  order_cnt
10       2019-07-31         0  수요일   구로구      분식          0
11       2019-07-31         0  수요일  영등포구      치킨          0
12       2019-07-31         0  수요일   구로구      치킨          0
13       2019-07-31         0  수요일   구로구      치킨          0
14       2019-07-31         0  수요일   은평구   족발/보쌈          0
...             ...       ...  ...   ...     ...        ...
2715010  2021-12-31        23  금요일   구로구  돈까스/일식          0
2715011  2021-12-31        23  금요일   구로구      야식          0
2715012  2021-12-31        23  금요일   구로구      야식          0
2715014  2021-12-31        23  금요일   강서구      야식          0
2715015  2021-12-31        23  금요일   금천구  돈까스/일식          0

[2262242 rows x 6 columns]

In [48]:
print("\nDuplicated Data :\n")
 
duplicateDFRow = df[df.duplicated(subset='gu')]
 
print(duplicateDFRow)

Duplicated Data :

               date  time_int days    gu    food  order_cnt
4        2019-07-31         0  수요일  영등포구      피자          0
5        2019-07-31         0  수요일   은평구      치킨          0
6        2019-07-31         0  수요일   구로구      치킨          0
7        2019-07-31         0  수요일   구로구      분식          0
10       2019-07-31         0  수요일   구로구      분식          0
...             ...       ...  ...   ...     ...        ...
2715011  2021-12-31        23  금요일   구로구      야식          0
2715012  2021-12-31        23  금요일   구로구      야식          0
2715013  2021-12-31        23  금요일   강서구      한식          0
2715014  2021-12-31        23  금요일   강서구      야식          0
2715015  2021-12-31        23  금요일   금천구  돈까스/일식          0

[2714994 rows x 6 columns]

In [70]:
del_df = duplicateDFRow.sort_values(by=['date','food','gu','time_int','days'],ascending=False)

In [72]:
del_df

               date  time_int days    gu food  order_cnt
2714649  2021-12-31        21  금요일  영등포구   한식          0
2714665  2021-12-31        21  금요일  영등포구   한식          0
2714691  2021-12-31        21  금요일  영등포구   한식          0
2714730  2021-12-31        21  금요일  영등포구   한식          0
2714483  2021-12-31        20  금요일  영등포구   한식          0
...             ...       ...  ...   ...  ...        ...
411      2019-07-31        12  수요일   구로구  도시락          0
480      2019-07-31        12  수요일   구로구  도시락          0
263      2019-07-31        11  수요일   구로구  도시락          0
92       2019-07-31        10  수요일   구로구  도시락          0
884      2019-07-31        14  수요일   강서구  도시락          0

[2714994 rows x 6 columns]

In [87]:
aa = del_df.loc[del_df['date']=='2021-12-31'].loc[del_df['time_int']==21].loc[del_df['days']=='금요일'].loc[del_df['gu']=='영등포구'].loc[del_df['food']=='한식']

In [91]:
df1['order_cnt'] = df1.groupby(['date','time_int','days','gu',])['food'].transform('count')

In [92]:
df1

               date  time_int days    gu    food  order_cnt
0        2019-07-31         0  수요일  영등포구      치킨         15
1        2019-07-31         0  수요일   은평구   족발/보쌈          7
2        2019-07-31         0  수요일   구로구   패스트푸드         16
3        2019-07-31         0  수요일   금천구      한식          2
4        2019-07-31         0  수요일  영등포구      피자         15
...             ...       ...  ...   ...     ...        ...
2715011  2021-12-31        23  금요일   구로구      야식         10
2715012  2021-12-31        23  금요일   구로구      야식         10
2715013  2021-12-31        23  금요일   강서구      한식          7
2715014  2021-12-31        23  금요일   강서구      야식          7
2715015  2021-12-31        23  금요일   금천구  돈까스/일식         29

[2715016 rows x 6 columns]

In [98]:
df1.drop_duplicates(keep='first', inplace=True, ignore_index=True)

In [99]:
df1

              date  time_int days    gu    food  order_cnt
0       2019-07-31         0  수요일  영등포구      치킨         15
1       2019-07-31         0  수요일   은평구   족발/보쌈          7
2       2019-07-31         0  수요일   구로구   패스트푸드         16
3       2019-07-31         0  수요일   금천구      한식          2
4       2019-07-31         0  수요일  영등포구      피자         15
...            ...       ...  ...   ...     ...        ...
452769  2021-12-31        23  금요일   금천구  카페/디저트         29
452770  2021-12-31        23  금요일   은평구      치킨          1
452771  2021-12-31        23  금요일   금천구      한식         29
452772  2021-12-31        23  금요일   구로구  돈까스/일식         10
452773  2021-12-31        23  금요일   강서구      한식          7

[452774 rows x 6 columns]

In [102]:
df1.to_csv('order_food.csv')