In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("order_food201907201909.csv")

In [13]:
df

        Unnamed: 0        date  time_int days    gu   food
0                0  2019-07-31         0  수요일  영등포구     치킨
1                1  2019-07-31         0  수요일   은평구  족발/보쌈
2                2  2019-07-31         0  수요일   구로구  패스트푸드
3                3  2019-07-31         0  수요일   금천구     한식
4                4  2019-07-31         0  수요일  영등포구     피자
...            ...         ...       ...  ...   ...    ...
760544      760544  2019-12-31        23  화요일  영등포구     치킨
760545      760545  2019-12-31        23  화요일   은평구  족발/보쌈
760546      760546  2019-12-31        23  화요일   도봉구     피자
760547      760547  2019-12-31        23  화요일   은평구     치킨
760548      760548  2019-12-31        23  화요일   도봉구     피자

[760549 rows x 6 columns]

In [14]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [15]:
df

              date  time_int days    gu   food
0       2019-07-31         0  수요일  영등포구     치킨
1       2019-07-31         0  수요일   은평구  족발/보쌈
2       2019-07-31         0  수요일   구로구  패스트푸드
3       2019-07-31         0  수요일   금천구     한식
4       2019-07-31         0  수요일  영등포구     피자
...            ...       ...  ...   ...    ...
760544  2019-12-31        23  화요일  영등포구     치킨
760545  2019-12-31        23  화요일   은평구  족발/보쌈
760546  2019-12-31        23  화요일   도봉구     피자
760547  2019-12-31        23  화요일   은평구     치킨
760548  2019-12-31        23  화요일   도봉구     피자

[760549 rows x 5 columns]

In [18]:
df = df.loc[df.food !='심부름']

In [19]:
df = df.loc[df.food !='배달전문업체']

In [20]:
# csv로 저장
df.to_csv("order_food201907201909.csv")