In [1]:
import pandas as pd

In [4]:
df1 = pd.read_excel('C:/Kcoding/팀프로젝트 데이터/온라인소비 업종별 시간대별 결제 데이터/신한카드_온라인소비_서비스업종_201904.xlsx')
df2 = pd.read_excel('C:/Kcoding/팀프로젝트 데이터/온라인소비 업종별 시간대별 결제 데이터/신한카드_온라인소비_서비스업종_202004.xlsx')

In [5]:
df = pd.concat([df1, df2])
df

In [14]:
df['온라인상세업종'].unique()

array(['관광/레져', '배달서비스', '생활서비스', '숙박', '식음료', '월납', '음원/영상', '의료기관',
       '전문서비스'], dtype=object)

In [16]:
result = df.loc[df['온라인상세업종'] == '배달서비스']

In [19]:
result

        기간    기준년월 온라인업종 온라인상세업종     거래시간       카드매출금액   카드매출건수  건당매출금액
8   20192Q  201904   서비스   배달서비스  00시-03시   2003130000    91878   21802
9   20192Q  201904   서비스   배달서비스  03시-06시    359864000    16920   21269
10  20192Q  201904   서비스   배달서비스  06시-09시    244046000    12375   19721
11  20192Q  201904   서비스   배달서비스  09시-12시   4276010000   219854   19449
12  20192Q  201904   서비스   배달서비스  09시-15시   8593612000   441558   19462
13  20192Q  201904   서비스   배달서비스  15시-18시  10732486000   526174   20397
14  20192Q  201904   서비스   배달서비스  18시-21시  22964320000  1088717   21093
15  20192Q  201904   서비스   배달서비스  21시-24시  10005403000   469362   21317
8   20202Q  202004   서비스   배달서비스  00시-03시   2881068000   131435   21920
9   20202Q  202004   서비스   배달서비스  03시-06시    560187000    25918   21614
10  20202Q  202004   서비스   배달서비스  06시-09시    512083000    26141   19589
11  20202Q  202004   서비스   배달서비스  09시-12시   9985664000   504003   19813
12  20202Q  202004   서비스   배달서비스  09시-15시  17431447000   868281   20076
13  20202Q  202004   서비스   배달서비스  15시-18시  19887704000   896628   22181
14  20202Q  202004   서비스   배달서비스  18시-21시  39425279000  1720584   22914
15  20202Q  202004   서비스   배달서비스  21시-24시  14693356000   671311   21888

In [23]:
final_result = result.drop(columns=['기간', '기준년월', '온라인업종']).groupby('거래시간').agg('sum')

C:\Users\gram15\AppData\Local\Temp\ipykernel_10432\400145410.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_result = result.drop(columns=['기간', '기준년월', '온라인업종']).groupby('거래시간').agg('sum')

In [24]:
final_result

              카드매출금액   카드매출건수  건당매출금액
거래시간
00시-03시   4884198000   223313   43722
03시-06시    920051000    42838   42883
06시-09시    756129000    38516   39310
09시-12시  14261674000   723857   39262
09시-15시  26025059000  1309839   39538
15시-18시  30620190000  1422802   42578
18시-21시  62389599000  2809301   44007
21시-24시  24698759000  1140673   43205

In [25]:
final_result.to_csv('Preprocessing_Online_consumption_data.csv', encoding='utf-8-sig')