# 1. 데이터 불러오기

In [1]:
# 필요한 모듈 불러오기
import pandas as pd

In [2]:
# csv 파일 불러오기
df = pd.read_csv('D:/박상춘/프로젝트/raw data/서울시 행정 데이터/LOCAL_PEOPLE_GU_2022.csv', encoding='cp949')

# 2. 데이터 확인 및 전처리

In [3]:
df

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20220101,0,11110,198013.1166,4873.9724,2875.5716,4721.0371,8056.7447,8409.5262,7030.9611,...,8358.8772,6598.3393,7714.6240,6930.9907,8622.9096,7542.4183,8012.8912,6618.1705,5234.3484,14670.1388
1,20220101,0,11140,163439.6365,4588.8045,1754.1373,2565.4546,5964.4053,7538.1455,7272.5991,...,8907.1659,7146.4494,7837.6613,6241.1243,6190.8188,5122.5866,5497.6735,4887.9068,3580.1862,9786.9251
2,20220101,0,11170,252165.9659,7338.0378,3621.6062,5679.3041,8010.4273,10246.1419,11344.5582,...,11230.4114,11730.1838,13262.1450,10157.6281,10607.3606,9141.2146,8998.7112,8093.6815,5922.3439,15970.6930
3,20220101,0,11200,312343.4234,11468.7636,4805.9768,6325.7793,10097.0347,12308.5453,12072.8752,...,12258.5309,12985.5190,15908.0426,12635.4614,12772.6410,11329.8455,12209.6659,10498.3080,7920.3737,20142.3144
4,20220101,0,11215,348524.3239,10212.5621,5475.5993,8713.1763,12957.8151,16604.5445,14338.6849,...,17011.8494,14646.3396,15249.4805,13215.0753,14246.1921,12944.7686,14256.4084,11730.0618,8646.9569,19500.4808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,20221231,23,11620,468533.2179,11551.3074,5620.8956,9207.5815,18665.9541,30952.8003,25695.9631,...,27889.7343,20669.3039,19181.4143,15548.3493,16195.5139,14859.1897,15884.1065,13996.0120,11699.3191,29012.6524
218996,20221231,23,11650,464794.4332,20247.1960,10900.8345,16271.3110,14626.4441,15461.1142,15497.7090,...,15823.3834,15603.4387,20564.2567,20733.5833,23047.8588,16474.4033,15469.5319,12576.3360,10478.7079,26054.0498
218997,20221231,23,11680,626217.7021,24272.7828,15790.4802,23289.9467,18699.7994,22204.9649,22483.0248,...,24268.5446,22765.5867,28073.9601,28227.5084,31894.4841,21793.2518,19696.3223,15849.6223,13672.9699,34056.4408
218998,20221231,23,11710,726058.1872,31134.3399,15478.9444,20867.6177,20607.2146,25532.9245,26891.8841,...,26526.0862,28859.3884,35077.4438,31098.1011,31050.9682,26653.2291,28017.9861,23899.3768,19144.9527,41267.7877
218999,20221231,23,11740,515174.1517,20892.5856,11790.0818,14362.5114,12532.8998,15352.7324,16376.3996,...,16154.2042,17700.1372,22711.2182,21883.4831,22497.0922,19285.0444,21125.2344,19283.2111,15338.5608,35974.7965

In [4]:
# 자치구 코드를 자치구 이름으로 바꾸기
for i in df.index:
    if df.loc[i, '자치구코드'] == 11110:
        df.loc[i, '자치구코드'] = '종로구'
    if df.loc[i, '자치구코드'] == 11140:
        df.loc[i, '자치구코드'] = '중구'
    if df.loc[i, '자치구코드'] == 11170:
        df.loc[i, '자치구코드'] = '용산구'
    if df.loc[i, '자치구코드'] == 11200:
        df.loc[i, '자치구코드'] = '성동구'
    if df.loc[i, '자치구코드'] == 11215:
        df.loc[i, '자치구코드'] = '광진구'
    if df.loc[i, '자치구코드'] == 11230:
        df.loc[i, '자치구코드'] = '동대문구'
    if df.loc[i, '자치구코드'] == 11260:
        df.loc[i, '자치구코드'] = '중랑구'
    if df.loc[i, '자치구코드'] == 11290:
        df.loc[i, '자치구코드'] = '성북구'
    if df.loc[i, '자치구코드'] == 11305:
        df.loc[i, '자치구코드'] = '강북구'
    if df.loc[i, '자치구코드'] == 11320:
        df.loc[i, '자치구코드'] = '도봉구'
    if df.loc[i, '자치구코드'] == 11350:
        df.loc[i, '자치구코드'] = '노원구'
    if df.loc[i, '자치구코드'] == 11380:
        df.loc[i, '자치구코드'] = '은평구'
    if df.loc[i, '자치구코드'] == 11410:
        df.loc[i, '자치구코드'] = '서대문구'
    if df.loc[i, '자치구코드'] == 11440:
        df.loc[i, '자치구코드'] = '마포구'
    if df.loc[i, '자치구코드'] == 11470:
        df.loc[i, '자치구코드'] = '양천구'
    if df.loc[i, '자치구코드'] == 11500:
        df.loc[i, '자치구코드'] = '강서구'
    if df.loc[i, '자치구코드'] == 11530:
        df.loc[i, '자치구코드'] = '구로구'
    if df.loc[i, '자치구코드'] == 11545:
        df.loc[i, '자치구코드'] = '금천구'
    if df.loc[i, '자치구코드'] == 11560:
        df.loc[i, '자치구코드'] = '영등포구'
    if df.loc[i, '자치구코드'] == 11590:
        df.loc[i, '자치구코드'] = '동작구'
    if df.loc[i, '자치구코드'] == 11620:
        df.loc[i, '자치구코드'] = '관악구'
    if df.loc[i, '자치구코드'] == 11650:
        df.loc[i, '자치구코드'] = '서초구'
    if df.loc[i, '자치구코드'] == 11680:
        df.loc[i, '자치구코드'] = '강남구'
    if df.loc[i, '자치구코드'] == 11710:
        df.loc[i, '자치구코드'] = '송파구'
    if df.loc[i, '자치구코드'] == 11740:
        df.loc[i, '자치구코드'] = '강동구'

In [11]:
df.columns

Index(['기준일ID', '시간대구분', '자치구코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수',
       '여자70세이상생활인구수'],
      dtype='object')

In [14]:
# 연령대 축소
for i in df.index:
    # 남자
    df.loc[i, '남자20대미만'] = df.iloc[i, 4:7].sum()
    df.loc[i, '남자20대'] = df.iloc[i, 7:9].sum()
    df.loc[i, '남자30대'] = df.iloc[i, 9:11].sum()
    df.loc[i, '남자40대'] = df.iloc[i, 11:13].sum()
    df.loc[i, '남자50대'] = df.iloc[i, 13:15].sum()
    df.loc[i, '남자60대이상'] = df.iloc[i, 15:18].sum()
    # 여자
    df.loc[i, '여자20대미만'] = df.iloc[i, 18:21].sum()
    df.loc[i, '여자20대'] = df.iloc[i, 21:23].sum()
    df.loc[i, '여자30대'] = df.iloc[i, 23:25].sum()
    df.loc[i, '여자40대'] = df.iloc[i, 25:27].sum()
    df.loc[i, '여자50대'] = df.iloc[i, 27:29].sum()
    df.loc[i, '여자60대이상'] = df.iloc[i, 29:32].sum()

In [17]:
# 연령대별 남녀 합계 계산
for i in df.index:
    df.loc[i, '20대미만'] = df.loc[i, '남자20대미만'] + df.loc[i, '여자20대미만']
    df.loc[i, '20대'] = df.loc[i, '남자20대'] + df.loc[i, '여자20대']
    df.loc[i, '30대'] = df.loc[i, '남자30대'] + df.loc[i, '여자30대']
    df.loc[i, '40대'] = df.loc[i, '남자40대'] + df.loc[i, '여자40대']
    df.loc[i, '50대'] = df.loc[i, '남자50대'] + df.loc[i, '여자50대']
    df.loc[i, '60대이상'] = df.loc[i, '남자60대이상'] + df.loc[i, '여자60대이상']

In [31]:
# 성별 합계 계산
for i in df.index:
    df.loc[i, 'male_total'] = df.loc[i, '남자20대미만':'남자60대이상'].sum()
    df.loc[i, 'female_total'] = df.loc[i, '여자20대미만':'여자60대이상'].sum()

In [19]:
df.drop(['남자0세부터9세생활인구수', '남자10세부터14세생활인구수', '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', 
         '남자35세부터39세생활인구수', '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수', '남자60세부터64세생활인구수', 
         '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
         '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
         '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수'], axis=1, inplace=True)

In [20]:
df.rename({'기준일ID':'date', '시간대구분':'time_int', '자치구코드':'gu', '총생활인구수':'total'}, axis=1, inplace=True)

In [32]:
# 자치구별 총 유동인구 계산
df1 = df.groupby('gu').sum()
df1.drop(['date', 'time_int'], axis=1, inplace=True)
df1.reset_index(inplace=True)

In [33]:
df.head()

,date,time_int,gu,total,남자20대미만,남자20대,남자30대,남자40대,남자50대,남자60대이상,...,여자50대,여자60대이상,20대미만,20대,30대,40대,50대,60대이상,male_total,female_total
0,20220101,0,종로구,198013.1166,12470.5811,16466.2709,14593.0062,15783.7061,16319.7860,19929.2349,...,15555.3095,26522.6577,24961.2671,34481.2872,28905.9695,31337.6064,31875.0955,46451.8926,95562.5852,102450.5331
1,20220101,0,중구,163439.6365,8908.3964,13502.5508,15986.4917,14521.0909,12236.8530,14838.0362,...,10620.2601,18255.0181,18540.2787,31025.5581,30970.6024,26953.0340,22857.1131,33093.0543,79993.4190,83446.2216
2,20220101,0,용산구,252165.9659,16638.9481,18256.5692,25142.9451,22508.7065,18767.3473,21394.5855,...,18139.9258,29986.7184,31934.8345,38533.5878,50135.2739,43273.6952,36907.2731,51381.3039,122709.1017,129456.8667
3,20220101,0,성동구,312343.4234,22600.5197,22405.5800,27418.9848,26737.7198,23208.3913,27954.0163,...,23539.5114,38560.9961,44273.6723,46348.4699,56312.5464,52145.8222,46747.9027,66515.0124,150325.2119,162018.2140
4,20220101,0,광진구,348524.3239,24401.3377,29562.3596,29368.2768,27605.5095,26031.0890,29327.0486,...,27201.1770,39877.4995,48842.3396,62914.2941,59264.0969,55066.7769,53232.2660,69204.5481,166295.6212,182228.7004

In [34]:
df1.head()

,gu,total,남자20대미만,남자20대,남자30대,남자40대,남자50대,남자60대이상,여자20대미만,여자20대,...,여자50대,여자60대이상,20대미만,20대,30대,40대,50대,60대이상,male_total,female_total
0,강남구,7.045519e+09,6.249186e+08,4.532875e+08,6.703510e+08,7.209334e+08,4.897292e+08,4.764617e+08,5.641798e+08,6.245099e+08,...,4.367144e+08,6.433287e+08,1.189098e+09,1.077797e+09,1.358833e+09,1.373555e+09,9.264436e+08,1.119790e+09,3.435681e+09,3.609837e+09
1,강동구,4.378432e+09,4.253567e+08,2.318490e+08,3.157155e+08,3.558579e+08,3.019945e+08,4.256261e+08,3.715884e+08,2.636452e+08,...,3.493112e+08,6.065092e+08,7.969450e+08,4.954941e+08,6.706833e+08,7.318685e+08,6.513057e+08,1.032135e+09,2.056400e+09,2.322032e+09
2,강북구,2.510130e+09,1.887441e+08,1.595091e+08,1.576667e+08,1.848245e+08,1.868683e+08,2.790689e+08,1.789337e+08,1.821854e+08,...,2.169415e+08,4.198198e+08,3.676778e+08,3.416945e+08,3.201291e+08,3.779301e+08,4.038098e+08,6.988887e+08,1.156682e+09,1.353448e+09
3,강서구,4.713889e+09,3.875957e+08,2.907882e+08,4.320153e+08,4.086394e+08,3.059000e+08,4.160235e+08,3.618258e+08,3.625935e+08,...,3.310962e+08,5.941688e+08,7.494216e+08,6.533817e+08,8.742243e+08,7.896730e+08,6.369962e+08,1.010192e+09,2.240962e+09,2.472927e+09
4,관악구,4.075955e+09,2.387142e+08,4.567179e+08,4.126676e+08,3.162552e+08,2.539485e+08,3.342564e+08,2.357662e+08,4.780015e+08,...,2.601288e+08,4.733967e+08,4.744805e+08,9.347195e+08,7.589832e+08,5.860414e+08,5.140773e+08,8.076530e+08,2.012560e+09,2.063395e+09

# 3. csv 파일로 변환

In [35]:
df.to_csv('./csv/seoul_population2.csv')
df1.to_csv('./csv/seoul_population3.csv')